<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p><a href="https://alyvix.com/learn/getting_started.html" class="btn btn-success btn-lg" target="_blank"><strong>Get Started</strong> with <strong>Alyvix</strong></a>
            <br class="small_screen">
            <br class="small_screen">
            <a href="https://alyvix.com/feedback" class="btn btn-primary btn-lg" target="_blank"><strong>Send</strong> quick <strong>Feedback</strong></a>
        </p>
        <p><a href='https://www.capterra.com/reviews/146702/Alyvix?utm_source=vendor&utm_medium=badge&utm_campaign=capterra_reviews_badge' target="_blank">  <img border='0' src='https://assets.capterra.com/badge/8b613f216098296f7b09b1fed3d1e3b7.png?v=2103598&p=146702' /></a>
        </p>
    </section>
    <section class="container {{ grid_size }}">
        <p><a href="https://www.youtube.com/channel/UCsfsO764sZ55r556ATj3Owg" target="_blank"><i class="fa fa-youtube-play fa-3x"></i></a>
           <a href="https://twitter.com/alyvixinfo" target="_blank"><svg style="margin-top: 0.2em; width:2.2em;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg></a>
           <a href="https://bsky.app/Alyvix" target="_blank"><svg style="margin-top: 0.2em; width:2.2em;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 530"><path d="m135.72 44.03c66.496 49.921 138.02 151.14 164.28 205.46 26.262-54.316 97.782-155.54 164.28-205.46 47.98-36.021 125.72-63.892 125.72 24.795 0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.3797-3.6904-10.832-3.7077-7.8964-0.0174-2.9357-1.1937 0.51669-3.7077 7.8964-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.4491-163.25-81.433-5.9562-21.282-16.111-152.36-16.111-170.07 0-88.687 77.742-60.816 125.72-24.795z"/></svg></a>
           <a href="https://alyvix.slack.com" target="_blank"><i class="fa fa-slack fa-3x"></i></a>
           <a href="https://github.com/alyvix/alyvix" target="_blank"><i class="fa fa-github fa-3x"></i></a></p>
        <p><a href="https://alyvix.com/">Alyvix</a> is <i class="fa fa-code"></i> with <i class="fa fa-heart-o pulse "></i> by <a href="https://www.wuerth-phoenix.com/" target="_blank">Würth Phoenix</a> and <a href="https://it.linkedin.com/company/violet-atom" target="_blank">Violet Atom</a>.</p>
        <p>Copyright © 2024 Würth Phoenix S.r.l. (P. IVA 01054690217) All rights reserved.</p>
        <p><a href="https://www.iubenda.com/privacy-policy/76746718" class="iubenda-white iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></p>
    </section>
</section>
